body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: blue;
}

button {
    display: block;
    margin-bottom: 20px;
}

.container {
    /* border: 2px solid red; */
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background: rgb(0 0 0 / 0);
}
