body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: blue;
}

.container {
    border: 2px solid red;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}

.hover {
    background-color: brown;
}